<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container-fluid grid ">
        <div class="row">
            <nav class="navbar d-flex flex-row-reverse navbar-dark bg-dark">
                <div>
                    <a class="btn btn-light p-2" href="{% url 'proveedores' %}">Ver Proveedores</a>
                    <a class="btn btn-light p-2" href="{% url 'productos' %}">Ver Productos</a>
                    <a class="btn btn-primary p-2" href="/admin/">Admin Control</a>
                </div>
                <a class="navbar-brand p-2" href="{% url 'productos' %}">Stock Control</a>
            </nav>
        </div>

        <div class="row p-4">
            <div class="col"></div>
            <div class="container-fluid col mt-5">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary p-2" type="submit">Crear</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>