<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container-fluid grid ">
        <div class="row">
            <nav class="navbar d-flex flex-row-reverse navbar-dark bg-dark">
                <div>
                    <a class="btn btn-light p-2" href="{% url 'proveedores' %}">Ver Proveedores</a>
                    <a class="btn btn-light p-2" href="{% url 'productos' %}">Ver Productos</a>
                    <a class="btn btn-primary p-2" href="/admin/">Admin Panel</a>
                </div>
                <a class="navbar-brand p-2" href="{% url 'productos' %}">Stock Control</a>
            </nav>
        </div>
            
        <div class="row p-4">
            <div class="container-fluid">
                <div class="mb-2 ">
                    <a class="btn btn-success" href="{% url 'nuevo_producto' %}">Nuevo Producto</a>
                    <a class="btn btn-success" href="{% url 'nuevo_proveedor' %}">Nuevo Proveedor</a>
                </div>
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proveedor in proveedores %}
                        <tr>
                            <td>{{ proveedor.id }}</td>
                            <td>{{ proveedor.nombre }}</td>
                            <td>{{ proveedor.apellido }}</td>
                            <td>{{ proveedor.dni }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>